@media screen and (min-width: 320px) {
    .cart-area {
        padding: 100px 0;
    }

    .cart-area .container .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .cart-area .container .table-content table {
        background: #ffffff none repeat scroll 0 0;
        border-color: #e5e5e5;
        border-radius: 0;
        border-style: solid;
        border-width: 1px 0 0 1px;
        width: 100%;
        margin-bottom: 0;
        text-align: center;
    }

    .cart-area .container .table-content table th {
        border-top: medium none;
        font-size: 15px;
        padding: 20px 10px;
        text-align: center;
        font-weight: 500;
        vertical-align: middle;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;

    }

    .cart-area .container .table table td {
        font-size: 13px;
        border-top: medium none;
        vertical-align: middle;
        padding: 18px 10px;
        border-bottom: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        text-align: center;
        font-size: 16px;
    }
    .cart-area .container .table table tbody tr .image {
        padding:18px 0;
    }
    .cart-area .container .table table tbody tr .product a {
        white-space: nowrap;
        font-size: 16px;
    }
    .cart-area .container .table table tbody tr .quantity .cart-plus {
        display: flex;
        position: relative;
        margin-left:15px;
        width:76px;
        height:46px;
        border: 1px solid #e5e5e5;
        text-align: center;
        margin-top:5px!important;
    }
    .cart-area .container .table table tbody tr .quantity .cart-plus input {
        width:48px;
        text-align: center;
    }
    .cart-area .container .table table tbody tr .quantity .cart-plus .dec {
        height: 23px;
        width:28px;
        position: absolute;
        top:0;
        right:0;
        cursor: pointer;
        line-height:21px;
        border-left: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
        font-weight: 600;
    }
    .cart-area .container .table table tbody tr .quantity .cart-plus .inc {
        height: 23px;
        width:28px;
        position: absolute;
        bottom:0;
        right:0;
        cursor: pointer;
        line-height:23px;
        border-left: 1px solid #e5e5e5;
        font-weight: 600;
        text-align: center;
    }
    .mg {
        margin-bottom:8px;
        font-size: 14px;
        line-height: 20px;
    }
    .mb-30 {
        margin-top: 30px;
    }
    .pd-30 {
        padding-top: 30px;
    }
    .cart-area .container .coupon .left input {
        height:42px;
        padding: 0 10px;
        line-height: 42px;
        border: 1px solid #e5e5e5;

    }
    .cart-area .container .coupon .left .input-group {
        display: grid;
        align-items: center;
        grid-template-columns: 40% 59%;
        justify-content: space-between;
    }
    .cart-area .container .coupon .btn {
        background-color: #242424;
        border-radius: 2px;
        padding: 0 25px;
        height: 42px;
        line-height:42px;
        display: inline-block;
        color:#FFF;
        font-weight: 700;
        letter-spacing: 1px;
        width: inherit;
        font-size: 13px;
    }
    .cart-area .container .coupon .btn:hover {
        background-color: #A8741A;
    }
    .cart-area .container .total-page {
        padding-top: 30px;
    }
    .cart-area .container .total-page h2 {
        font-size: 25px;
        font-weight:700;
        margin-bottom: 20px;
    }
    .cart-area .container .total-page ul {
        border: 1px solid #e5e5e5;
    }
    .cart-area .container .total-page ul li {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        font-weight: 700;
        border-bottom: 1px solid #e5e5e5;
    }
    .cart-area .container .total-page ul li:last-child {
        border-bottom:0;
    }
    .cart-area .container .total-page button {
        background-color:#242424;
        color:#fff;
        padding: 10px 30px;
        margin-top:30px;
        border: 1px solid #e5e5e5;
        display: inline-block;
    }
    .cart-area .container .total-page button:hover {
        background-color:#A8741A;   
    }
}
@media screen and (min-width: 480px ){
    .cart-area .container .coupon {
        display: grid;
        grid-template-columns: 64% 34%;
        align-items: center;
        justify-content: space-between;
    }
    .pd-30 {
        padding:0;
    }
}
@media screen and (min-width: 768px){
    .cart-area .container .table table tbody tr .image {
        padding:18px 10px;
        width: 120px;
    }
    .cart-area .container .coupon {
        grid-template-columns: 40% 22%;
    }
    .cart-area .container .total-page {
        margin-left:auto!important;
        width:41.41%;
    }
}
@media screen and (min-width:1200px){
    .cart-area .container .table table tbody tr .image {
        padding:18px 10px;
        width: 250px;
        height:150px;

    }
    .cart-area .container .coupon {
        grid-template-columns: 40% 13%;
    }
    .cart-area .container .table table tbody tr .image a img{
        max-width: 120px;
        margin:auto;
    }
    .cart-area .container .table table tbody tr .quantity .cart-plus {
        margin: auto;
    }
}