.product-area
    .container
        .row
            .section-title
                h3  Best Seller
                .button-nav
                    .prev.but
                        i.fas.fa-angle-left
                    .next.but
                        i.fas.fa-angle-right
            .section-product.owl-carousel.owl-theme
                .product
                    .image
                        figure
                            a(href="#")
                                img.first(src="./image/1-1.jpg", alt="")
                            a(href="#")
                                img.second(src="./image/1-2.jpg", alt="")
                            .content
                                span.hot HOT
                                span.best 15%   
                                .icon
                                    a(href="#")
                                        i.fas.fa-heart
                                    a(href="#")
                                        i.fas.fa-search
                                    a(href="#")
                                        i.fas.fa-undo-alt
                                    
                                    a(href="#")
                                        i.fas.fa-shopping-bag
                        .product-content
                            h2 
                                a(href="#") Quibusdam Ratitone
                            .price-box
                                span.price $ 46.91
                                span.old-price $50.99
                            .vote
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star
                .product
                    .image
                        figure
                            a(href="#")
                                img.first(src="./image/2-1.jpg", alt="")
                            a(href="#")
                                img.second(src="./image/2-2.jpg", alt="")
                            .content
                                span.hot HOT 
                                .icon
                                    a(href="#")
                                        i.fas.fa-heart
                                    a(href="#")
                                        i.fas.fa-search
                                    a(href="#")
                                        i.fas.fa-undo-alt
                                    
                                    a(href="#")
                                        i.fas.fa-shopping-bag
                        .product-content
                            h2 
                                a(href="#") Quibusdam Ratitone
                            .price-box
                                span.price $ 46.91
                                span.old-price $50.99
                            .vote
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star
                .product
                    .image
                        figure
                            a(href="#")
                                img.first(src="./image/3-1.jpg", alt="")
                            a(href="#")
                                img.second(src="./image/3-2.jpg", alt="")
                            .content  
                                .icon
                                    a(href="#")
                                        i.fas.fa-heart
                                    a(href="#")
                                        i.fas.fa-search
                                    a(href="#")
                                        i.fas.fa-undo-alt
                                    
                                    a(href="#")
                                        i.fas.fa-shopping-bag
                        .product-content
                            h2 
                                a(href="#") Quibusdam Ratitone
                            .price-box
                                span.price $ 46.91
                                span.old-price $50.99
                            .vote
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star
                .product
                    .image
                        figure
                            a(href="#")
                                img.first(src="./image/4-1.jpg", alt="")
                            a(href="#")
                                img.second(src="./image/4-2.jpg", alt="")
                            .content
                                span.hot HOT
                                span.best BESTSELLER    
                                .icon
                                    a(href="#")
                                        i.fas.fa-heart
                                    a(href="#")
                                        i.fas.fa-search
                                    a(href="#")
                                        i.fas.fa-undo-alt
                                    
                                    a(href="#")
                                        i.fas.fa-shopping-bag
                        .product-content
                            h2 
                                a(href="#") Quibusdam Ratitone
                            .price-box
                                span.price $ 46.91
                                span.old-price $50.99
                            .vote
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star
                .product
                    .image
                        figure
                            a(href="#")
                                img.first(src="./image/5-1.jpg", alt="")
                            a(href="#")
                                img.second(src="./image/5-2.jpg", alt="")
                            .content
                                span.hot HOT
                                span.best BESTSELLER    
                                .icon
                                    a(href="#")
                                        i.fas.fa-heart
                                    a(href="#")
                                        i.fas.fa-search
                                    a(href="#")
                                        i.fas.fa-undo-alt
                                    
                                    a(href="#")
                                        i.fas.fa-shopping-bag
                        .product-content
                            h2 
                                a(href="#") Quibusdam Ratitone
                            .price-box
                                span.price $ 46.91
                                span.old-price $50.99
                            .vote
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star
                .product
                    .image
                        figure
                            a(href="#")
                                img.first(src="./image/6-1.jpg", alt="")
                            a(href="#")
                                img.second(src="./image/6-2.jpg", alt="")
                            .content
                                span.hot HOT
                                span.best BESTSELLER    
                                .icon
                                    a(href="#")
                                        i.fas.fa-heart
                                    a(href="#")
                                        i.fas.fa-search
                                    a(href="#")
                                        i.fas.fa-undo-alt
                                    
                                    a(href="#")
                                        i.fas.fa-shopping-bag
                        .product-content
                            h2 
                                a(href="#") Quibusdam Ratitone
                            .price-box
                                span.price $ 46.91
                                span.old-price $50.99
                            .vote
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star
                .product
                    .image
                        figure
                            a(href="#")
                                img.first(src="./image/7-1.jpg", alt="")
                            a(href="#")
                                img.second(src="./image/7-2.jpg", alt="")
                            .content
                                span.hot HOT
                                span.best BESTSELLER    
                                .icon
                                    a(href="#")
                                        i.fas.fa-heart
                                    a(href="#")
                                        i.fas.fa-search
                                    a(href="#")
                                        i.fas.fa-undo-alt
                                    
                                    a(href="#")
                                        i.fas.fa-shopping-bag
                        .product-content
                            h2 
                                a(href="#") Quibusdam Ratitone
                            .price-box
                                span.price $ 46.91
                                span.old-price $50.99
                            .vote
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star
                .product
                    .image
                        figure
                            a(href="#")
                                img.first(src="./image/8-1.jpg", alt="")
                            a(href="#")
                                img.second(src="./image/8-2.jpg", alt="")
                            .content
                                span.hot HOT
                                span.best BESTSELLER    
                                .icon
                                    a(href="#")
                                        i.fas.fa-heart
                                    a(href="#")
                                        i.fas.fa-search
                                    a(href="#")
                                        i.fas.fa-undo-alt
                                    
                                    a(href="#")
                                        i.fas.fa-shopping-bag
                        .product-content
                            h2 
                                a(href="#") Quibusdam Ratitone
                            .price-box
                                span.price $ 46.91
                                span.old-price $50.99
                            .vote
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star.voted
                                i.fas.fa-star
            
script.

    $(document).ready(function(){
        $('.section-product').owlCarousel({
            nav:false,
            loop:false,
            responsive: {
                1200: {
                    items: 4
                },
                768: {
                    items:3
                },
                480: {
                    items:2
                },
                320: {
                    items: 1
                },
                0: {
                    items: 1
                }
            }
        })
    })