.kenne-area
    .container
        .content
            h3 Get Exclusive Product
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum officia dolorem sit nesciunt magnam suscipit perferendis quisquam enim quia, quae, possimus vitae qui quas quam delectus debitis ipsa illo deleniti.
            .contact
                a(href="#") +84 914 312 746
            .shop.btn
                a(href="product.html") SHOP NOW