.banner-area 
    .container
        .banner
            .banner-items.mb30
                .banner-img
                    a(href="#")
                        img(src="./image/1.jpg", alt="")
            .banner-items.mb30
                .banner-img
                    a(href="#")
                        img(src="./image/2.jpg", alt="")
            .banner-items
                .banner-img
                    a(href="#")
                        img(src="./image/4.jpg", alt="")
    