.header
    .container
        .top-header
            .top-left
                ul
                    li
                        a(href="#")  CURRENCY
                            i.fas.fa-angle-down
                    li
                        a(href="#")  LANGUAGE
                            i.fas.fa-angle-down
            .top-right
                ul
                    li
                        a(href="#") My Account
                    li
                        a(href="#") Wishlist
                    li
                        a(href="#") Register or Sign in
                    li
                        a(href="#") Checkout
        .mid-header
            .logo
                a(href="index.pug")
                    img(src="./image/logo.png", alt="")
            .contact
                .head-phone
                    i.fas.fa-headphones-alt
                .content
                    p Call us
                    p Free Support: (+84) 382 308 647        
            .input
                input(type="text" placeholder="Search")
                button
                    i.fas.fa-search
            .cart
                ul
                    li.bar
                        a(href="#")
                            i.fas.fa-bars
                    li#cart
                        a(href="#")
                            .mini-cart
                                span.top 03
                                i.color.fas.fa-shopping-bag
                            .cart-text
                                span.cart Cart: 
                                span.price 465.4
        .bottom-header
            .main-menu
                ul
                    li.pa.has-sub.has-sub
                        a(href="index.pug") HOME
                            i.fas.fa-angle-down 
                        ul.sub-menu
                            li
                                a(href="index.pug") Home One
                            li
                                a(href="index.pug") Home Two
                            li
                                a(href="index.pug") Home Three
                    li.pa.has-sub
                        a(href="index.pug") SHOP
                            i.fas.fa-angle-down 
                        .menu-col.sub-menu
                            .col
                                ul
                                    li
                                        span Shop page Layout
                                    li
                                        a(href="list-product.html") Grid Full Width
                                    li
                                        a(href="list-product.html") Left Sidebar
                                    li
                                        a(href="#") Right Sidebar
                                    li
                                        a(href="#") List Full Width
                                    li
                                        a(href="#") List Left Sidebar
                                    li
                                        a(href="#") List Right Sidebar
                            .col
                                ul
                                    li
                                        span Shop page Layout
                                    li
                                        a(href="#") Grid Full Width
                                    li
                                        a(href="#") Left Sidebar
                                    li
                                        a(href="#") Right Sidebar
                                    li
                                        a(href="#") List Full Width
                                    li
                                        a(href="#") List Left Sidebar
                                    li
                                        a(href="#") List Right Sidebar
                            .col
                                ul
                                    li
                                        span Shop page Layout
                                    li
                                        a(href="#") Grid Full Width
                                    li
                                        a(href="#") Left Sidebar
                                    li
                                        a(href="#") Right Sidebar
                                    li
                                        a(href="#") List Full Width
                                    li
                                        a(href="#") List Left Sidebar
                                    li
                                        a(href="#") List Right Sidebar
                            .col
                                ul
                                    li
                                        span Shop page Layout
                                    li
                                        a(href="#") Grid Full Width
                                    li
                                        a(href="#") Left Sidebar
                                    li
                                        a(href="#") Right Sidebar
                                    li
                                        a(href="#") List Full Width
                                    li
                                        a(href="#") List Left Sidebar
                                    li
                                        a(href="#") List Right Sidebar
                        li.pa.has-sub
                            a(href="index.pug") PAGES
                                i.fas.fa-angle-down 
                            ul.sub-menu
                                li
                                    a(href="#") Comming Soon
                                li
                                    a(href="#") Error 404
                                li
                                    a(href="#") FAQ
                        li.pa.has-sub
                            a(href="index.pug") BLOG
                                i.fas.fa-angle-down 
                            ul.sub-menu
                                li
                                    a(href="#") Grid View
                                li
                                    a(href="#") List View
                                li
                                    a(href="#") Blog Details
                        li.pa
                            a(href="index.pug") CONTACTS US
                            
                        li.pa
                            a(href="index.pug") ABOUT US
                               
