.footer-area
    .container
        .footer-content
            .right
                a(href="index.pug")
                    img(src="./image/logo.png", alt="")
                p Subscribe to our newsleter, Inter your email address
                .input-group
                    input(type="text " placeholder="Enter email address")
                    button
                        a(href="#")
                            i.fas.fa-envelope
            .left
                .shopping
                    h3 Shopping
                    ul
                        li
                            a(href="product.html") Product
                        li
                            a(href="cart.html") My Cart
                        li
                            a(href="#") Wishlist
                        li
                            a(href="cart.html") Cart
                .shopping
                    h3 Account
                    ul
                        li
                            a(href="#") Login
                        li
                            a(href="#") Register
                        li
                            a(href="#") Help
                        li
                            a(href="#") Support
                .shopping
                    h3 Categories
                    ul
                        li
                            a(href="#") Men
                        li
                            a(href="#") Women
                        li
                            a(href="#") Jeans
                        li
                            a(href="#") Shoes
.coppy-right-area
    .container
        .left
            p Copyright © 2019 Kenne. All rights reserved.
        .right
            img(src="./image/payment.png", alt="")