.footer-area
    .container
        .footer-content
            .right
                a(href="index.pug")
                    img(src="./image/logo.png", alt="")
                p Subscribe to our newsleter, Inter your email address
                .input-group
                    input(type="text " placeholder="Enter email address")
                    button
                        a(href="#")
                            i.fas.fa-envelope
            .left
                .shopping
                    h3 Shopping
                    ul
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
                .shopping
                    h3 Account
                    ul
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
                .shopping
                    h3 Categories
                    ul
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
                        li
                            a(href="#") Product
.coppy-right-area
    .container
        .left
            p Copyright © 2019 Kenne. All rights reserved.
        .right
            img(src="./image/payment.png", alt="")