.banner2-area.banner-area
    .container
        .banner
            .banner-items.mb30
                .banner-img
                    a(href="#")
                        img(src="./image/5.jpg", alt="")
            .banner-items.mb30
                .banner-img
                    a(href="#")
                        img(src="./image/6.jpg", alt="")