.list-product-area
    .container
        .row
            .list-product
                .top-list
                    .icon-menu
                        i.fas.fa-th#grid.color
                        i.fas.fa-th-list#list
                    .show-page
                        p Showing 1–9 of 40 results)
                    .option-area
                        .short-by
                            label.select-label1(for="") Short By: 
                            select#seclect(name="product")
                                option(value="1") Default sorting
                                option(value="2") Name, A to Z
                                option(value="3") Name, Z to A
                                option(value="4") Price, low to hight
                                option(value="5") Price, hight to low
                                option(value="6") Rating (Highest)
                                option(value="7") Rating ( Lowset)
                                option(value="8") Model ( A to Z)
                                option(value="9") Model ( Z to A)
                        .nice-select
                            span Default sorting
                            ul.list
                                li.option.selected(data-value="1") Default sorting
                                li.option(data-value="2") Name, A to Z
                                li.option(data-value="3") Name, Z to A
                                li.option(data-value="4") Price, low to hight
                                li.option(data-value="5") Price, hight to low
                                li.option(data-value="6") Rating (Highest)
                                li.option(data-value="7") Rating (Lowest)
                                li.option(data-value="8") Model (A to Z)
                                li.option(data-value="9") Model (Z to A)
                .product-list#product-list
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/1-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/1-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/2-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/2-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/3-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/3-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/4-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/4-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/5-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/5-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/6-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/6-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/7-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/7-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/8-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/8-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/2-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/2-2.jpg", alt="")
                                .content
                                    span.hot HOT
                                    span.best BESTSELLER    
                                    .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                            .product-content
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                .product-grid#product-list(style="display: none")
                    .product
                        .image
                            figure
                                a(href="#")
                                    img.first(src="./image/1-1.jpg", alt="")
                                a(href="#")
                                    img.second(src="./image/1-2.jpg", alt="")    
                                    
                            .product-content
                                .price-box
                                    span.price $ 46.91
                                    span.old-price $50.99
                                h2 
                                    a(href="#") Quibusdam Ratitone
                                .vote
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star.voted
                                    i.fas.fa-star
                                .text
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus
                                .icon
                                        a(href="#")
                                            i.fas.fa-heart
                                        a(href="#")
                                            i.fas.fa-search
                                        a(href="#")
                                            i.fas.fa-undo-alt
                                        
                                        a(href="#")
                                            i.fas.fa-shopping-bag
                .bot-list
                    ul
                        li 1
                        li 2
                        li 3
                        li 4
                        li 5
                        li  Next
            .left-sidebar
                .fillter.pd15
                    h3 Filter By Price
                    .slider-range
                        .ui-slider-range
                        span.ui-slider-handle(style="left:0%")
                        span.ui-slider-handle(style="left:70%")
                    .input-group
                        label price: 
                        input(type="text" placeholder="$60 - $360" style="padding-left: 5px; width:70px;") 
                        button  Filter
                .categori.pdt.pd15
                    h3 Product Categories
                    .categori-menu
                        ul
                            li.has-sub1.has-sub
                                a(href="#") Apparel
                                span.click1 +
                                ul 
                                    li
                                        a(href="#") Maxime
                                    li
                                        a(href="#") Praesentium
                                    li
                                        a(href="#") Eligendi
                                    li
                                        a(href="#") Maxime
                                    li
                                        a(href="#") Ex deserunt
                                    li
                                        a(href="#") Doloremque
                                    li
                                        a(href="#") Veniam Sed
                                    li
                                        a(href="#") Facilis
                                    li
                                        a(href="#") Cumque Magni
                            li
                                a(href="#") Footwear
                            li.has-sub2.has-sub
                                a(href="#") Sportwear
                                span.click2 +
                                ul 
                                    li
                                        a(href="#") Daylesford
                                    li
                                        a(href="#") Delaware
                                    li
                                        a(href="#") Fayence
                                    li
                                        a(href="#") Mable
                                    li
                                        a(href="#") Mobo
                                    li
                                        a(href="#") Pippins
                            li
                                a(href="#") Tranditional
                            li
                                a(href="#") Formal Wear
                            li.has-sub3.has-sub
                                a(href="#") Accessories
                                span.click3 +
                                ul 
                                    li
                                        a(href="#") Bedroom Furniture
                                    li
                                        a(href="#") Chairs
                                    li
                                        a(href="#") Coffee Tables
                                    li
                                        a(href="#") Console Tables
                                    li
                                        a(href="#") End Table
                                    li
                                        a(href="#") Living Room Sets
                                    li
                                        a(href="#") ottomans $ Storage Ottomans
                                    li  
                                        a(href="#")  Sofa $ Couches
                                    li  
                                        a(href="#")  TV Stands
                            li.has-sub4.has-sub
                                a(href="#") Wathches & Jewwlry
                                span.click4 +
                                ul 
                                    li
                                        a(href="#") CandleHolders
                                    li
                                        a(href="#") Candles
                                    li
                                        a(href="#") Clocks
                                    li
                                        a(href="#") Floor Mirrors
                                    li
                                        a(href="#") Lamps & Lighting
                                    li
                                        a(href="#") RUgs
                                    li
                                        a(href="#") Runners
                                    li
                                        a(href="#") Wall Decor
                                    li
                                        a(href="#") Wall Mirrors
                            li.has-sub5.has-sub
                                a(href="#") Luggage
                                span.click5 +
                                ul 
                                    li
                                        a(href="#") Bowls 
                                    li
                                        a(href="#") Cups, Mugs & Saucers
                                    li
                                        a(href="#") Cutting Boards
                                    li
                                        a(href="#") Dinnerware Sets
                                    li
                                        a(href="#") Flatware
                                    li
                                        a(href="#") Glassware & Drinkware
                                    li
                                        a(href="#") Knife Sets
                                    li
                                        a(href="#") Plates
                                    li
                                        a(href="#") Serveware
                            li.has-sub6.has-sub
                                a(href="#") Handbag
                                span.click6 +
                                ul 
                                    li
                                        a(href="#") Coffee & side table
                                    li
                                        a(href="#") living room storage
                                    li
                                        a(href="#") Living room lighting
                                    li
                                        a(href="#") Living room textiles & rugs
                                    li
                                        a(href="#") Sofas & armchairs
                                    li
                                        a(href="#") TV & media furniture
                            li
                                a(href="#") Cosmetic
                            li
                                a(href="#") Uncategorized
                .color.pdt.pd15
                    h3 Color
                    .color-menu
                        ul
                            li 
                                a(href="#") black(1)
                            li 
                                a(href="#") ble(1)
                            li 
                                a(href="#") gold(3)
                .post.pdt
                    .title.pd15
                        h3 Recent Post
                    .product
                        .recent.owl-carousel.owl-theme
                            .re-post
                                    .post-product
                                        .image  
                                            figure
                                                img(src="./image/1-1.jpg", alt="")
                                            .content
                                                .type.pdb
                                                    p hoodie, jacket
                                                .name.mb10
                                                    a(href="#") Quibusdam ratione
                                                .price-box
                                                    span.new $80.00
                                                    span.old $85.00
                                    .post-product
                                        .image  
                                            figure
                                                img(src="./image/1-2.jpg", alt="")
                                            .content
                                                .type.pdb
                                                    p hoodie, jacket
                                                .name.mb10
                                                    a(href="#") Quibusdam ratione
                                                .price-box
                                                    span.new $80.00
                                                    span.old $85.00
                            .re-post
                                    .post-product
                                        .image  
                                            figure
                                                img(src="./image/2-1.jpg", alt="")
                                            .content
                                                .type.pdb
                                                    p hoodie, jacket
                                                .name.mb10
                                                    a(href="#") Quibusdam ratione
                                                .price-box
                                                    span.new $80.00
                                                    span.old $85.00
                                    .post-product
                                        .image  
                                            figure
                                                img(src="./image/2-2.jpg", alt="")
                                            .content
                                                .type.pdb
                                                    p hoodie, jacket
                                                .name.mb10
                                                    a(href="#") Quibusdam ratione
                                                .price-box
                                                    span.new $80.00
                                                    span.old $85.00
                            .re-post
                                    .post-product
                                        .image  
                                            figure
                                                img(src="./image/3-1.jpg", alt="")
                                            .content
                                                .type.pdb
                                                    p hoodie, jacket
                                                .name.mb10
                                                    a(href="#") Quibusdam ratione
                                                .price-box
                                                    span.new $80.00
                                                    span.old $85.00
                                    .post-product
                                        .image  
                                            figure
                                                img(src="./image/3-2.jpg", alt="")
                                            .content
                                                .type.pdb
                                                    p hoodie, jacket
                                                .name.mb10
                                                    a(href="#") Quibusdam ratione
                                                .price-box
                                                    span.new $80.00
                                                    span.old $85.00
                            .re-post
                                    .post-product
                                        .image  
                                            figure
                                                img(src="./image/4-1.jpg", alt="")
                                            .content
                                                .type.pdb
                                                    p hoodie, jacket
                                                .name.mb10
                                                    a(href="#") Quibusdam ratione
                                                .price-box
                                                    span.new $80.00
                                                    span.old $85.00
                                    .post-product
                                        .image  
                                            figure
                                                img(src="./image/4-2.jpg", alt="")
                                            .content
                                                .type.pdb
                                                    p hoodie, jacket
                                                .name.mb10
                                                    a(href="#") Quibusdam ratione
                                                .price-box
                                                    span.new $80.00
                                                    span.old $85.00
                .tag.pdt.pd15
                    h3 Product Tags
                    ul
                        li 
                            a(href="#") Hoodie
                        li 
                            a(href="#") Jacket
                        li 
                            a(href="#") Frocks
                        li 
                            a(href="#") Crochet
                        li 
                            a(href="#") Scarf
                        li 
                            a(href="#") Shirts
                        li 
                            a(href="#") Men
                        li 
                            a(href="#") Women
script.
    $(document).ready(function(){
        $('.recent').owlCarousel({
            nav:false,
            loop:false,
            responsive: {
                1000: {
                    items:1
                },
                768: {
                    items:2
                },
                320: {
                    items:1
                },
                0 : {
                    items:1
                }
            }
        })
    });
    $('.click1').click(function(e){
        $('.has-sub1').toggleClass('open');
        $('.has-sub6').removeClass('open');
        $('.has-sub2').removeClass('open');
        $('.has-sub3').removeClass('open');
        $('.has-sub4').removeClass('open');
        $('.has-sub5').removeClass('open');
    });
    $('.click2').click(function(e){
        $('.has-sub2').toggleClass('open')
         $('.has-sub6').removeClass('open');
        $('.has-sub1').removeClass('open');
        $('.has-sub3').removeClass('open');
        $('.has-sub4').removeClass('open');
        $('.has-sub5').removeClass('open');
    });
    $('.click3').click(function(e){
        $('.has-sub3').toggleClass('open')
         $('.has-sub6').removeClass('open');
        $('.has-sub2').removeClass('open');
        $('.has-sub1').removeClass('open');
        $('.has-sub4').removeClass('open');
        $('.has-sub5').removeClass('open');
    });
    $('.click4').click(function(e){
        $('.has-sub4').toggleClass('open')
        $('.has-sub6').removeClass('open');
        $('.has-sub2').removeClass('open');
        $('.has-sub3').removeClass('open');
        $('.has-sub1').removeClass('open');
        $('.has-sub5').removeClass('open');
    });
    $('.click5').click(function(e){
        $('.has-sub5').toggleClass('open')
         $('.has-sub6').removeClass('open');
        $('.has-sub2').removeClass('open');
        $('.has-sub3').removeClass('open');
        $('.has-sub4').removeClass('open');
        $('.has-sub1').removeClass('open');
    });
    $('.click6').click(function(e){
        $('.has-sub6').toggleClass('open');
         $('.has-sub1').removeClass('open');
        $('.has-sub2').removeClass('open');
        $('.has-sub3').removeClass('open');
        $('.has-sub4').removeClass('open');
        $('.has-sub5').removeClass('open');

    });



                            
                


