.header
    .container
        .row
            .col-lg-12
                .header-nav
                    .logo
                        a(href="index.pug")
                            img(src="./image/logo.png", alt="")
                    .main-menu
                        ul
                            li.pa.has-sub.has-sub
                                a(href="index.pug") HOME
                                    i.fas.fa-angle-down 
                                ul.sub-menu
                                    li
                                        a(href="index.pug") Home One
                                    li
                                        a(href="index.pug") Home Two
                                    li
                                        a(href="index.pug") Home Three
                            li.pa.has-sub
                                a(href="index.pug") SHOP
                                    i.fas.fa-angle-down 
                                .menu-col.sub-menu
                                    .col
                                        ul
                                            li
                                                span Shop page Layout
                                            li
                                                a(href="list-product.html") Grid Full Width
                                            li
                                                a(href="list-product.html") Left Sidebar
                                            li
                                                a(href="#") Right Sidebar
                                            li
                                                a(href="#") List Full Width
                                            li
                                                a(href="#") List Left Sidebar
                                            li
                                                a(href="#") List Right Sidebar
                                    .col
                                        ul
                                            li
                                                span Shop page Layout
                                            li
                                                a(href="#") Grid Full Width
                                            li
                                                a(href="#") Left Sidebar
                                            li
                                                a(href="#") Right Sidebar
                                            li
                                                a(href="#") List Full Width
                                            li
                                                a(href="#") List Left Sidebar
                                            li
                                                a(href="#") List Right Sidebar
                                    .col
                                        ul
                                            li
                                                span Shop page Layout
                                            li
                                                a(href="#") Grid Full Width
                                            li
                                                a(href="#") Left Sidebar
                                            li
                                                a(href="#") Right Sidebar
                                            li
                                                a(href="#") List Full Width
                                            li
                                                a(href="#") List Left Sidebar
                                            li
                                                a(href="#") List Right Sidebar
                                    .col
                                        ul
                                            li
                                                span Shop page Layout
                                            li
                                                a(href="#") Grid Full Width
                                            li
                                                a(href="#") Left Sidebar
                                            li
                                                a(href="#") Right Sidebar
                                            li
                                                a(href="#") List Full Width
                                            li
                                                a(href="#") List Left Sidebar
                                            li
                                                a(href="#") List Right Sidebar
                            li.pa.has-sub
                                a(href="index.pug") PAGES
                                    i.fas.fa-angle-down 
                                ul.sub-menu
                                    li
                                        a(href="#") Comming Soon
                                    li
                                        a(href="#") Error 404
                                    li
                                        a(href="#") FAQ
                            li.pa.has-sub
                                a(href="index.pug") BLOG
                                    i.fas.fa-angle-down 
                                ul.sub-menu
                                    li
                                        a(href="#") Grid View
                                    li
                                        a(href="#") List View
                                    li
                                        a(href="#") Blog Details
                            li.pa
                                a(href="index.pug") CONTACTS US
                                
                            li.pa
                                a(href="index.pug") ABOUT US
                               
                    .right-header
                        .menu-bar.mr-15
                            a(href="#")
                                i.fas.fa-bars
                        .cart.mr-15.color
                            a(href="cart.html")
                                i.fas.fa-shopping-bag
                                span 03
                        .search.mr-15
                            a(href="#")
                                i.fas.fa-search
                        .menu-bar1
                            a(href="#")
                                i.fas.fa-bars
.header.header-fix#header
    .container
        .row
            .col-lg-12
                .header-nav
                    .logo
                        a(href="index.pug")
                            img(src="./image/logo.png", alt="")
                    .main-menu
                        ul
                            li.pa.has-sub.has-sub
                                a(href="index.pug") HOME
                                    i.fas.fa-angle-down 
                                ul.sub-menu
                                    li
                                        a(href="index.pug") Home One
                                    li
                                        a(href="index.pug") Home Two
                                    li
                                        a(href="index.pug") Home Three
                            li.pa.has-sub
                                a(href="index.pug") SHOP
                                    i.fas.fa-angle-down 
                                .menu-col.sub-menu
                                    .col
                                        ul
                                            li
                                                span Shop page Layout
                                            li
                                                a(href="#") Grid Full Width
                                            li
                                                a(href="list-product.html") Left Sidebar
                                            li
                                                a(href="#") Right Sidebar
                                            li
                                                a(href="#") List Full Width
                                            li
                                                a(href="#") List Left Sidebar
                                            li
                                                a(href="#") List Right Sidebar
                                    .col
                                        ul
                                            li
                                                span Shop page Layout
                                            li
                                                a(href="#") Grid Full Width
                                            li
                                                a(href="#") Left Sidebar
                                            li
                                                a(href="#") Right Sidebar
                                            li
                                                a(href="#") List Full Width
                                            li
                                                a(href="#") List Left Sidebar
                                            li
                                                a(href="#") List Right Sidebar
                                    .col
                                        ul
                                            li
                                                span Shop page Layout
                                            li
                                                a(href="#") Grid Full Width
                                            li
                                                a(href="#") Left Sidebar
                                            li
                                                a(href="#") Right Sidebar
                                            li
                                                a(href="#") List Full Width
                                            li
                                                a(href="#") List Left Sidebar
                                            li
                                                a(href="#") List Right Sidebar
                                    .col
                                        ul
                                            li
                                                span Shop page Layout
                                            li
                                                a(href="#") Grid Full Width
                                            li
                                                a(href="#") Left Sidebar
                                            li
                                                a(href="#") Right Sidebar
                                            li
                                                a(href="#") List Full Width
                                            li
                                                a(href="#") List Left Sidebar
                                            li
                                                a(href="#") List Right Sidebar
                            li.pa.has-sub
                                a(href="index.pug") PAGES
                                    i.fas.fa-angle-down 
                                ul.sub-menu
                                    li
                                        a(href="#") Comming Soon
                                    li
                                        a(href="#") Error 404
                                    li
                                        a(href="#") FAQ
                            li.pa.has-sub
                                a(href="index.pug") BLOG
                                    i.fas.fa-angle-down 
                                ul.sub-menu
                                    li
                                        a(href="#") Grid View
                                    li
                                        a(href="#") List View
                                    li
                                        a(href="#") Blog Details
                            li.pa
                                a(href="index.pug") CONTACTS US
                                
                            li.pa
                                a(href="index.pug") ABOUT US
                               
                    .right-header
                        .menu-bar
                            a(href="#")
                                i.fas.fa-bars
                        .cart.color
                            a(href="cart.html")
                                i.fas.fa-shopping-bag
                                span 03
                        .search.mr-15
                            a(href="#")
                                i.fas.fa-search
                        .menu-bar1
                            a(href="#")
                                i.fas.fa-bars

script.
    window.onscroll = scroll;
    function scroll() {
    if ($(window).scrollTop() >= 100) {
    $('.header-fix').addClass('fix');
    } else {
    $('.header-fix').removeClass('fix');
    }
    }
                            
                            

